/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Montserrat:wght@300;400;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*CSS reset*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

/*Global variables*/
:root {
  --sideBGColor: #040b14;
  --themeColor: #00a78e;
  --iconBGColor: #2c2f3f;
  --textColor: #353535;
  --bgColor: #f7f7f7;
}

/*== Header start ==*/

header {
  height: 100vh;
  width: 300px;
  padding: 15px 30px;
  background: var(--sideBGColor);
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  transition: 0.4s;
  z-index: 99;
}

header .profile {
  text-align: center;
  margin: 10px 0;
}

header .profile img {
  width: 150px;
  border-radius: 50%;
  border: 10px solid var(--iconBGColor);
}

.profile_img {
  height: 150px;
  object-fit: cover;
}

header .profile h1 {
  color: #f7f7f7;
  font-weight: 600;
}

header .profile .social_icons a {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  text-align: center;
  line-height: 37px;
  background: var(--iconBGColor);
  color: #f7f7f7;
  font-size: 18px;
  margin: 1.5px;
  transition: 0.4s;
}
header .profile .social_icons a:hover {
  background: var(--themeColor);

}

/*== Navbar ==*/
header nav {
  margin-top: 30px;
}

header nav ul li {
  list-style: none;
}
header nav ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 7px 10px;
  margin: 7px 0;
  color: #d3d3d3;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.6px;
}

header nav ul li a i {
  margin-right: 10px;
  font-size: 20px;
  transition: 0.4s;
}

header nav ul li a:hover i {
  color: var(--themeColor);
}

header nav ul li .active i {
  color: var(--themeColor);
}
/*== End of Navbar ==*/

/*== Footer ==*/
header .footer {
  text-align: center;
  background: var(--sideBGColor);
  width: 300px;
  color: #d3d3d3;
  font-size: 14px;
  letter-spacing: 0.6px;
  padding: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  transition: 0.4s;
}

header .footer p a {
  color: var(--themeColor);
}
/*== End of footer ==*/


/*== Mobile nav toggle*/
#menuBtn {
  position: fixed;
  top: 25px;
  right: 25px;
  font-size: 20px;
  width: 40px;
  height: 40px;
  color: #f7f7f7;
  background: var(--themeColor);
  text-align: center;
  line-height: 41px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
  display: none;
  z-index: 999;
  
}
/*==Mobile view*/
@media(max-width: 1050px) {
  header {
    left: -300px;
  }

  header .footer {
    left: -300px;
  }

  #menuBtn {
    display: block;
  }
}

/*== Header Toggle ==*/
.mobile_nav_active header {
  left: 0;
}

.mobile_nav_active header .footer {
  left: 0;
}
/*== End of Mobile nav toggle*/

/*== Header end ==*/

/*<-------------------------------------------------------------->*/

/*== MAIN SECTION ==*/
main {
  margin-left: 300px;
  background: var(--bgColor);
  transform: 0.3s;
}

@media(max-width: 1050px) {
  main {
    margin-left: 0;
  }
}
/*== END OF MAIN SECTION ==*/

/*== Home section ==*/
#home {
  height: 100vh;
  width: 100%;
  background-image: url(../../ziha-web-1.0/img/hero-bg.png);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px;
  position: relative;
}
/*Overlay*/
#home::before {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.431);
  position: absolute;
  top: 0;
  left: 0;
}

#home .home_row {
  z-index: 1;
}

#home .home_row h1 {
  font-size: 45px;
  color: #f7f7f7;
  font-weight: 600;
  letter-spacing: -1px;
  margin-bottom: 10px;
  line-height: 70px;
}

#home .home_row h1 span {
  color: var(--themeColor);
}

#home .home_row p {
  color: #f7f7f7;
  font-size: 30px;
  font-weight: 500;
}

#home .home_row p span {
  border-bottom: 4px solid var(--themeColor);

}

/*Mobile view*/
@media(max-width: 670px) {
  #home {
    padding: 30px;

  }

  #home .home_row h1 {
    font-size: 35px;
    letter-spacing: 0px;
    line-height: 50px;
  }

  #home .home_row h1 br {
    display: none;
  }

  #home .home_row p {
    font-size: 20px;
    font-weight: 400;
  }
}
/*== End of Home section ==*/


/*== About Me section ==*/
#about {
  padding: 70px 30px;
}

/*Gloabl Heading*/
.sub_heading {
  color: #000;
  font-size: 30px;
  margin-bottom: 10px;
}

/*Same divider in all section*/
.divider {
  width: 80px;
  height: 4px;
  background: var(--themeColor);
  border-radius: 3px;
}
.sub_para {
  color: var(--textColor);
  font-size: 15px;
  letter-spacing: 0.4px;
  font-weight: 500;
  margin-top: 15px;
}

#about .about_col {
  display: flex;
  gap: 20px;
  margin-top: 25px;
}

#about .about_col .profile_img {
  height: 310px;
  flex-basis: 35%;
  text-align: center;
}

#about .about_col .profile_img img {
  width: 100%;
}

#about .about_col .info_col {
  flex-basis: 70%;
}
#about .about_col .info_col h2 {
  color: var(--themeColor);
  font-weight: 700;
  font-size: 35px;
  letter-spacing: 0.5px;
  margin-top: -10px;
}

#about .about_col .info_col p {
  color: var(--textColor);
  font-size: 15px;
  letter-spacing: 0.5px;
  font-style: italic;
}

#about .about_col .info_col .icon_list_col {
  display: flex;
  margin-top: 20px;
  gap: 40px;
}

#about .about_col .info_col .icon_list_col .icon_list ul li {
  list-style: none;
  margin: 15px 0;
}

#about .about_col .info_col .icon_list_col .icon_list ul li i {
  color: var(--themeColor);
}

#about .about_col .info_col .icon_list_col .icon_list ul li strong {
  color: var(--sideBGColor);
  font-weight: 600;
  margin-right: 4px;
}

#about .about_col .info_col .icon_list_col .icon_list ul li span {
  color: var(--textColor);
  font-weight: 500;
  font-size: 15px;

}

/*== Mobile view ==*/
@media(max-width: 830px) {
  #about {
    padding: 50px 10px;
  }

  #about .divider ~ p {
    font-size: 14px;
    letter-spacing: 0px;
    text-align: justify;
  }
  
  #about .about_col {
    flex-direction: column;
  }

  #about .about_col .profile_img {
    flex-basis: 35%;
    text-align: center;
  }

  #about .about_col .profile_img img {
    width: 40%;
  }
  
  #about .about_col .info_col h2 {
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0px;
  }

  #about .about_col .info_col p {
    font-size: 14px;
    letter-spacing: 0px;
  }

  #about .about_col .info_col .icon_list_col {
    flex-direction: column;
    gap: 0;
  }

  #about .about_col .info_col .icon_list_col .icon_list ul li {
    margin: 10px 0;
  }

  #about .about_col .info_col .icon_list_col .icon_list ul li strong {
    font-weight: 500;
    margin-right: 0px;
  }

  #about .about_col .info_col .icon_list_col .icon_list ul li span {
    font-weight: 400;
    font-size: 13px;
  }

}

@media(max-width: 400px) {
  #about .about_col .profile_img img {
    width: 90%;
  }
}

/*== End of About Me section ==*/

/*<------------------------------------------------------------------->*/

/*== Facts section start*/
#fact {
  padding: 50px 30px;
  background: #f7f7f7;
}

#fact .fact_row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 50px;
}

#fact .fact_row .fact_box i {
  color: var(--themeColor);
  font-size: 40px;
}
#fact .fact_row .fact_box strong {
  color: var(--sideBGColor);
  font-size: 30px;
  margin-left: 5px;
  font-weight: 600;
}
#fact .fact_row .fact_box p {
  color: var(--textColor);
  font-weight: 500;
  font-size: 16px;
}

/*== MObile view ==*/
@media(max-width: 700px) {
  #fact {
    padding: 40px 15px;
  }

  #fact .fact_row {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media(max-width: 370px) {
  #fact .fact_row .fact_box i {
    font-size: 30px;
  }
  #fact .fact_row .fact_box strong {
    font-size: 20px;
  }
  #fact .fact_row .fact_box p {
    font-weight: 400;
    font-size: 14px;
  }
}

/*== End of Facts section*/

/*<------------------------------------------------------------>*/

/*== Skills section start*/
#skill {
  padding: 50px 30px;
}
#skill .skill_row {
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

}
#skill .skill_row .skill_box .skill_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}
#skill .skill_row .skill_box .skill_info h2 {
  color: var(--sideBGColor);
  font-weight: 600;
  font-size: 15px;
  font-style: italic;
}
#skill .skill_row .skill_box .skill_outter_line {
  width: 100%;
  height: 10px;
  background: #d3d3d3;
  border-radius: 15px;
}
#skill .skill_row .skill_box .skill_outter_line .skill_inner_line {
  height: 10px;
  background: var(--themeColor);
  border-radius: 20px;
}

/*== Mobile View ==*/
@media only screen and (max-width: 450px) {
  #skill {
    padding: 50px 15px;
  }

  #skill .skill_row {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  
  }
}

/*== End of Skills section*/

/*<------------------------------------------------------------->*/

/*== START of Resume section ==*/
#resume {
  padding: 70px 30px;
}
#resume .resume_row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 35px;
}

#resume .resume_row .resume_cols {
  flex-basis: 50%;
}
#resume .resume_row .resume_cols h2 {
  color: var(--sideBGColor);
  font-weight: 600;
  font-size: 25px;
  margin: 15px 0;
}
#resume .resume_row .resume_cols .my_info {
  padding: 0 20px 0 20px;
  margin: 20px 0;
  border-left: 2px solid var(--themeColor);
  position: relative;
}
#resume .resume_row .resume_cols .my_info::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid var(--themeColor);
  background: #f7f7f7;
}
#resume .resume_row .resume_cols h3 {
  color: var(--sideBGColor);
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
}
#resume .resume_row .resume_cols .my_info p {
  color: var(--textColor);
  font-size: 15px;
  font-weight: 600;
  font-style: italic;
  margin: 10px 0;
}
#resume .resume_row .resume_cols .my_info ul li {
  margin: 10px 0;
  margin-left: 20px;
  color: var(--textColor);
  font-size: 15px;
  font-weight: 500;
}
#resume .resume_row .resume_cols .my_education {
  padding: 0 20px 0 20px;
  border-left: 2px solid var(--themeColor);
  position: relative;
}
#resume .resume_row .resume_cols .my_education::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid var(--themeColor);
  background: #f7f7f7;
}
#resume .resume_row .resume_cols .sp_box {
  padding: 4px 22px;
  background: #add8e6;
  color: var(--textColor);
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  margin: 15px 0;
  display: inline-block;
}
#resume .resume_row .resume_cols .my_education span + p {
  color: var(--textColor);
  font-size: 15px;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 15px;
}
#resume .resume_row .resume_cols .my_education span + p + p {
  color: var(--textColor);
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 15px;
}

#resume .resume_row .resume_cols .pro_exp {
  padding: 0 20px 10px;
  border-left: 2px solid var(--themeColor);
  position: relative;
}
#resume .resume_row .resume_cols .pro_exp::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid var(--themeColor);
  background: #f7f7f7;

}
#resume .resume_row .resume_cols .pro_exp p {
  color: var(--textColor);
  font-size: 17px;
  font-weight: 500;
  font-style: italic;
}
#resume .resume_row .resume_cols .pro_exp ul li {
  margin: 10px 0;
  margin-left: 20px;
  color: var(--textColor);
  font-size: 15px;
  font-weight: 500;
}
/*== Mobile View ==*/
@media(max-width: 820px) {
  #resume {
    padding: 50px 15px;
  }
  #resume .resume_row {
    flex-direction: column;
  }
  
  #resume .resume_row .resume_cols {
    flex-basis: 100%;
  }
}

/*== END of Resume section ==*/

/*<--------------------------------------------------------------------->*/

/*== START of Portfolio section ==*/
#portfolio {
  padding: 70px 30px;
}
#portfolio .port_row {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}
#portfolio .port_row .port_item {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
#portfolio .port_row .port_item .port_img img {
  width: 100%;
  border-radius: 10px;
}
#portfolio .port_row .port_item .port_info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--themeColor);
  padding: 0 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transform: scale(0);
  transition: 0.4s;
  border-radius: 10px;
  visibility: hidden;
}
#portfolio .port_row .port_item:hover .port_info {
  transform: scale(1);
  visibility: visible;
}
#portfolio .port_row .port_item .port_info h4 {
  color: var(--bgColor);
  font-size: 25px;
  font-weight: 600;
}
#portfolio .port_row .port_item .port_info h4 + p {
  color: var(--bgColor);
  font-size: 14px;
}
#portfolio .port_row .port_item .port_info a {
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 45px;
  height: 45px;
  background: var(--bgColor);
  border-radius: 50%;
  color: var(--themeColor);
  line-height: 46px;
  transition: 0.4s;

}
#portfolio .port_row .port_item .port_info a:hover {
  background-color: var(--sideBGColor);
  color: var(--bgColor);
}

/*== Mobile View ==*/
@media(max-width: 650px) {
  #portfolio {
    padding: 50px 10px;
  }
  #portfolio .port_row {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}

@media(max-width: 880px) {
  #portfolio .port_row {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}

@media(max-width: 550px) {
  #portfolio .port_row {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
}

/*== END of Portfolio section ==*/

/*<------------------------------------------------------------------->*/

/*== START of Conclusion section == */
#conclusion {
  background: var(--bgColor);
  padding: 70px 30px;
}
#con .service_row {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
#conclusion .service_row .service_box {
  display: flex;
  gap: 20px;
}
#conclusion .service_row .service_box .icon i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--themeColor);
  font-size: 22px;
  line-height: 46px;
  background: var(--themeColor);
  color: var(--bgColor);
  transition: 0.7s;
  text-align: center;
}
#conclusion .service_row .service_box:hover .icon i {
  color: var(--textColor);
  background: var(--bgColor);
}
#conclusion .service_row .service_box .serv_info h4{
  color: var(--sideBGColor);
  font-size: 20px;
  font-weight: 600;
}
#conclusion .service_row .service_box .serv_info h4 + p {
  color: var(--textColor);
  font-size: 14px;
  font-weight: 500;
}
/*== Mobile View ==*/
@media(max-width: 910px) {
  #conclusion {
    padding: 50px 15px;
  }
  #conclusion .service_row {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media(max-width: 485px) {
  #conclusion .service_row {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
/*== END of Service section == */

/*< --------------------------------------------------------------- >*/

/* == START of Contact section == */
#contact {
  padding: 70px 30px;

}
#contact .contact_row {
  margin-top: 50px;
  display: flex;
  gap: 20px;
  width: 100%;
}
#contact .contact_row .contact_left {
  flex-basis: 40%;
  min-width: 40%;
  background: #f7f7f7;
  box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
  border-radius: 4px;
  padding: 30px;

}
#contact .contact_row .contact_left .icon_box {
  display: flex;
  gap: 15px;
  align-items: center;
  margin: 30px 0;
}
#contact .contact_row .contact_left .icon_box .icon i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--themeColor);
  text-align: center;
  line-height: 46px;
  font-size: 20px;
  color: var(--themeColor);
  transition: 0.5s;

}
#contact .contact_row .contact_left .icon_box:hover .icon i {
  background: var(--themeColor);
  color: var(--bgColor);
}
#contact .contact_row .contact_left .icon_box h4 {
  font-size: 20px;
  color: var(--sideBGColor);
  font-weight: 600;
}
#contact .contact_row .contact_left .icon_box h4 + p {
  font-size: 15px;
  font-weight: 500;
  color: var(--textColor);
  
}
#contact .contact_row .contact_right {
  flex-basis: 60%;
  min-width: 60%;
  background: #f7f7f7;
  box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
  border-radius: 4px;
  padding: 30px;

}

#contact .contact_row .contact_right form input,
#contact .contact_row .contact_right form textarea {
  display: block;
  width: 100%;
  margin: 25px 0;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 500;
  color: var(--textColor);
  border: 2px solid #d3d3d3;
  border-radius: 2px;
  outline: none;
  resize: none;
  transition: 0.5s;

}
#contact .contact_row .contact_right form input:focus,
#contact .contact_row .contact_right form textarea:focus {
  border: 2px solid var(--themeColor);
}
#contact .contact_row .contact_right form input[type = submit] {
  background: var(--themeColor);
  color: var(--bgColor);
  border: 2px solid var(--themeColor);
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
}
/*Mobile View*/
@media(max-width: 900px) {
  #contact {
    padding: 50px;
  
  }
  #contact .contact_row {
    flex-direction: column;
    gap: 10px;
  }
}

@media(max-width: 500px) {
  #contact {
    padding: 50px 10px;
  
  }
}











/* == END of Contact section == */

